<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Superb Owl</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="ui">
	<div class="left-menu">
	<form action="#" class="search">
        <input placeholder="search..." type="search" name="" id="">
        <input type="submit" value="&#xf002;">
	</form>
<menu class="list-friends">
<li>
    <img width="50" height="50" src="{{ url_for('static', filename='images/adeleTest.jpg') }}">
    <div class="info">
	       <div class="user">Online Test</div>
			<div class="status on"> online</div>
	</div>
</li>
<li>
    <img width="50" height="50" src="{{ url_for('static', filename='images/offTest.jpeg') }}">
    <div class="info">
        <div class="user">Offline Test</div>
		<div class="status off">offline</div>
	</div>
</li>
</menu>
</div>
<div class="chat">
    <div class="top">
	<div class="avatar">
	       <img width="50" height="50" src="{{ url_for('static', filename='images/owlLogo.jpeg') }}">
	</div>
	<div class="info">
	<div class="name">Superb Owl Chat</div>
	<div class="count"></div>
</div>
</div>
<ul class="messages">
</ul>
<div class="write-form">
    <textarea placeholder="Type your message" name="e" id="text" rows="2"></textarea>
	<span class="send">Send</span>
</div>
</div>
</div>
    <!--jquery.min.js gives the ability for using jquery-->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <!--jquery.niceScroll.js allows for a clean scroll in our chat application-->
    <script src="{{ url_for('static', filename='js/jquery.nicescroll.js') }}"></script>
    <!--idex.js provides the jquery functions for our chat app-->
    <script src="{{ url_for('static', filename='js/chat.js') }}"></script>
</body>
</html>
