<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Superb Owl</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <div class="ui">
	<div class="left-menu">

<menu class="list-friends">
</menu>
</div>
<div class="chat">
    <div class="top">
	<div class="avatar">
       <img width="50" height="50" src="{{ url_for('static', filename='images/owlLogo.jpeg') }}">
	</div>
	<div class="info">
	<div class="name">Superb Owl Chat</div>
	<div class="count"></div>
</div>
</div>
<ul class="messages">
</ul>
<div class="write-form">
    <textarea placeholder="Type your message" name="e" id="text" rows="2"></textarea>
	<span class="send">Send</span>
</div>
</div>
</div>
<button id = "original" type = "button"> Original Theme </button>
<br>
<button id = "doggo" type = "button"> Doggo Theme </button>
<br>
<button id = "owl" type = "button"> Owl Theme </button>
<br>
<button id = "llamas" type = "button"> Llama Theme </button>
<br>
<button id = "cat" type = "button"> Cat Theme </button>
    <!--jquery.min.js gives the ability for using jquery-->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <!--jquery.niceScroll.js allows for a clean scroll in our chat application-->
    <script src="{{ url_for('static', filename='js/jquery.nicescroll.js') }}"></script>
    <!--idex.js provides the jquery functions for our chat app-->
    <script src="{{ url_for('static', filename='js/chat.js') }}"></script>
</body>
</html>
