<!doctype html>
<html>
<head>
	<meta charset ='utf-8'>
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">

    <!-- including the jQuery dependency -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <!-- including the plugin -->
    <script src="{{ url_for('static', filename='js/hideShowPassword.js') }}"></script>

    <script src="../static/js/login.js"></script>
</head>
<body>
<div class="login">
    <label class="login-label" for="username-3">Username</label>
    <input class="login-field  login-field-username" id="username-3" type="text" placeholder="Username">
    <br>
    <label class="login-label" for="password-3">Password</label>
    <input class="login-field  login-field-password" id="pass" type="password" placeholder="Password">
    <div class="login-footer">
        <input type="checkbox" id="show-password"> <label for="show-password">Show password</label>
    </div>
</div>
<br>
    <button id='login' type = 'button'> Log into Chat </button>
    <button id='create' type = 'button'> Create user </button>

<script>
// - When checkbox changes, toggle password
//   visibility based on its 'checked' property
    $('#show-password').change(function(){
        $('#pass').hideShowPassword($(this).prop('checked'));
    });
</script>
</body>
</html>
